
.header {
  background-color: white;
}

#wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  overflow: hidden;  // Hide vertical scrollbar
}

.main-body {
  &.is-preload {
    animation: fadeIn 4s ease-out;
  }

  @keyframes fadeIn {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
}
