.social {

  margin-top: 2rem;

  a {

    text-align: center;

    height: auto;

    width: auto;

    background: transparent;

    border-radius: 0;

    line-height: 1;

    color: #665F59;

    font-size: 1.3rem;

    margin-left: 0.75rem;

    margin-right: 0.75rem;

    &:hover {

      color: #4F4944;

      background: transparent;

    }

    &:active {

      color: #4F4944;

      background: transparent;

    }

  }

}